# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Editor folders and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.production
.env.development
.env.local
.env.*.local

# Build outputs
frontend/dist/
frontend/out/
backend/dist/
backend/out/

# Dependency directories
backend/node_modules/
frontend/node_modules/

# OS Files
Thumbs.db
Desktop.ini
